# =========================
# Dependencies
# =========================
node_modules/
**/node_modules/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Build Folders
# =========================
build/
dist/
.next/
out/

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Cache
# =========================
.cache/
.parcel-cache/
.eslintcache

# =========================
# Coverage
# =========================
coverage/

# =========================
# IDE / Editor Files
# =========================
.vscode/
.idea/
*.swp

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Render
# =========================
.render/

# =========================
# Temporary Files
# =========================
tmp/
temp/
*.tmp

# =========================
# Runtime Files
# =========================
*.pid
*.seed
*.pid.lock

